@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&family=Rubik+Iso&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', monospace;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(183, 187, 159) 0%, #8a9fa3 100%);
  
}

body {
  background-color: #a3c1d4;
  background-image: linear-gradient(135deg, #94aab9 0%, #dcdce7 100%);
  min-height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  
}

header {
  background-color: #b9b6ae;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  
}

header a img {
  
  margin-left: 0.1em;
  margin-right: 5em;
  width: 20%;
  
}

nav {
  background-color: #aaaab3;
  display: flex;
  padding: 0.5em;
}

nav a {
  color: #2b2d53;
  text-decoration: none;
  padding: 0.2em;
  margin-right: 0.2em;
  margin-left: 0.5em;
}

nav a:hover {
  color: rgb(144, 146, 41);
}

section {
  padding: 2rem 1rem 1rem 1rem;
  margin: 2rem 1em 1em;

}

section h1 {
  margin-bottom: 2rem;
  text-align: center;
}

section h2 {
  text-align: center;
  font-size:medium;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

section a {
  color: #000;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0.5rem;
}


hr {
  border: none;
  border-top: solid #8c8c97 1px;
  margin: 1rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  color: #6c6c77;
  padding-top:  2em;
  padding-bottom: 1em;
}

.laitteet > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.laitteet a:hover {

  color: rgb(144, 146, 41);
}



.laite > div {
  
  text-align: center;

}


form > div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

input {
  border: 1px solid #ca9715;
  border-radius: 0.3rem;
  padding: 0.45rem;
  font-size: 1rem;
}

input[type=submit] {
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  background-color: #798388;
  color: #fff;
  font-weight: bold;
  min-width: 12rem;
  margin: 1rem auto;
}

.error {
  color: red;
  font-size: 0.8rem;
  
}

.info {
  background-color: #bdbab7;
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.info a {
  color: #1013c7;
}

.estili a {
  color: #1013c7;
}

.flexarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}


.button {

  background-color: #4f88b6;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
}

.profile1 {
  
  font-size: smaller;
}


